<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ticket_Booking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.register.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.register.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ticket</display-name>
    <servlet-name>Ticket</servlet-name>
    <servlet-class>com.register.Ticket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticket</servlet-name>
    <url-pattern>/Ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicket</display-name>
    <servlet-name>ViewTicket</servlet-name>
    <servlet-class>com.register.ViewTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicket</servlet-name>
    <url-pattern>/ViewTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTicket</display-name>
    <servlet-name>EditTicket</servlet-name>
    <servlet-class>com.register.EditTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTicket</servlet-name>
    <url-pattern>/EditTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.register.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTicket</display-name>
    <servlet-name>DeleteTicket</servlet-name>
    <servlet-class>com.register.DeleteTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTicket</servlet-name>
    <url-pattern>/DeleteTicket</url-pattern>
  </servlet-mapping>
</web-app>